{% extends 'base.html' %}

{% block title %} Welcome {% endblock%}

{% block content %}

<div class="container">
    <div style="text-align: center;">
        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/project-management-6102638-5058803.png" alt="" width="350px">
    <h1 style="color: gray;">Project management Tool</h1>
    <p>
        The ProjectManagement tool is a collaborative project management application built using Django and SQLite. It allows users to create projects and manage them by adding and updating tasks. Tasks can be assigned to team members, and their progress can be tracked with status updates. User permissions are implemented to ensure that only project members have access to view and modify tasks within a project, maintaining security and confidentiality. This application facilitates efficient project management by providing structured workflows and access controls, enhancing team collaboration and productivity.
    </p>
    </div>
</div>

{% endblock %}